input,textarea, select{
  appearance: none;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--stroke-default);
  background: var(--surface-primary);

  padding: .75rem 1rem;
  color: var(--text-colors-text-primary);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
label{
  color: var(--text-secondary);
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  display: block;
  margin-bottom: .25rem;
}
input:focus, textarea:focus, select:focus{
  border: 2px solid var(--stroke-highlight);
  outline: 4px solid var(--surface-secondary);

}