@import url(fields/index.css);
form{
  margin-top: 3rem;
}
fieldset{
  border: none;
  display: grid;
  gap: 1.5rem;
}
legend{
  color: var(--text-primary);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 1.5rem;
}
fieldset + fieldset{
  margin-top: 48px;
}

button{
  display: inline-flex;
  min-width: 120px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  cursor: pointer;

  &.btn-primary{
    color: white;
    border: 1px solid var(--brand-dark);
    background: var(--brand-dark);
    &:hover, &:focus-within{
      background-color: var(--brand-mid);
      border: 1px solid var(--brand-dark);
      outline: var(--surface-secondary);
    }
  }

  &.btn-secondary{
    color: var(--brand-dark);
    margin-left: auto;
    border: 1px solid var(--text-highlight);
    background: var(--surface-primary);
    
    &:hover, &:focus-within{
      border: 1px solid var(--brand-dark);
      outline: 4px solid var(--surface-secondary);
    }
  }
}


