*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root{
  --brand-light: #f67841;
  --brand-mid: #f3541C;
  --brand-dark: #E43A12;

  --text-primary: #292524;
  --text-secondary: #57534E;
  --text-tertiary: #8F8881;
  --text-highlight: #E43A12;

  --surface-primary:#Ffffff;
  --surface-secondary:#FEE7D6;
  --surface-disabled:#E7E5E4;

  --stroke-default: #D6D3D1;
  --stroke-highlight: #F3541C;
  --semantic-error: #dC2626;

  --orange: #F9A474;
  --yellow: #FEDF6F;
  --green: #C7D78D;
  --blue: #B8CEDC;
  --violet: #C3B2E7;
  --pink: #F682A5;
  
  --font-family: 'Poppins', sans-serif;
  --text-md: 400 16px/150% var(--font-family);
  
}
.text-md{
  font: var(--text-md);
  color: var(--text-secondary);
}
h1{
  font-family: var(--font-family);
  font-size: 32px;
  line-height: 120%;
  font-weight: 600;
}
h2{
  font-family: var(--font-family);
  font-size: 24px;
  line-height: 120%;
  font-weight: 600;
}
h3{
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 120%;
  font-weight: 600;
}
h4{
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 120%;
  font-weight: 600;
}
p{
  color: var(--text-secondary);
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
body{
  overflow: hidden;
}
img{
  max-width: 100%;
  height: auto;
}
.flex{
  display: flex;
}
.flex-1{
  flex: 1;
}
.flex-2{
  flex: 2;
}