@media (width>= 60em){
  #app{
    display: grid;
    grid-template-columns: 51.28% 48.75%;
    grid-template-areas: "main aside";
    height: 100vh;
    overflow: hidden;
   
    aside {
      order: 2;
      width: 100%;
      flex: none;
      .aside-container{
        --align: flex-start;
        
        & #illustration{
          width: 496px;
        }
        margin-right: auto;
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
      }
    }
  }
  
}
#app{
  display: grid;
  grid-template-columns: 51.28% 48.75%;
  grid-template-areas: "main aside";
  height: 100vh;
  overflow: hidden;

  aside {
    background-color: var(--surface-secondary);
    padding: var(--py-lg);

    & .aside-container{
      & img{
        width: 203px;
      }
      & #illustration {
        width: 312px;
      }
      
      --align: center;
      margin-inline: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
    }
  }
}

#main{
  margin-top: var(--py-lg);
  margin-bottom: var(--py-lg);
  row-gap: var(--row-gap);
  column-gap: var(--column-gap);
}

main{
  overflow: auto;
}

.back{
  display: flex;
  align-items: flex-start;
  gap: 8px;
  span{
    color: var(--text-tertiary);
  }
}
.header{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.flex-header{
  display: flex;
  flex-direction: column;
  gap: 8px;
}