#background-color{
  background-color: var(--bg-color);
}
.container{
  --max-width: 375px;
  width: min(var(--max-width),100% - var(--px-lg) * 2);
  align-items: center;
  margin-inline: auto;
}
.mobile-only{
  display: initial;
}
.desktop-only{
  display: none;
}
@media (width>= 60em){
  .auto-flow{
    grid-auto-flow: column;
  }
  .container{
    --max-width: 1280px;
  }
  .mobile-only{
      display: none;
    }
  .desktop-only{
    display: initial;
  }
}